@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Pagina hecha por estudiantes de la Universidad UDI<br />
</address>
<table>
    
    
    <tr>
        <td>
            Favio Regis Cardona Farell  <br />

            <h>P:65887244</h>
        </td>
        <td></td>
        <td>
            Joel Ariel Cornejo Gomez <br />

            <h>P:78022866</h>
        </td>
        <td></td>
        <td>
            Ronald Justiniano Paredes <br />

            <h>P:71019818</h>
        </td>
    </tr>
    
   

</table>
   
   
       

   